<!DOCTYPE html>
<html>
  <head>
    <title>RailsVarious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>

    <main>
    <%= yield %>
    </main>
    <button id="refresh">refresh</button>
    <pre id="source"></pre>
    <script>
      function refresh() {
        $('#source').text($('main').html().trim());
      }
      refresh();
      $('#refresh').on('click', function() {
        refresh();
      })
    </script>
  </body>
</html>
