<%= form_for(order) do |f| %>
<dl>
  <dt><%= f.label :name, "名前" %></dt>
  <dd><%= f.text_field :name %></dd>
  <dt><%= f.label :address, "住所" %></dt>
  <dd><%= f.text_field :address %></dd>
</dl>

<table>
  <tr><td>商品<td>個数</tr>
  <%= f.fields_for(:details) do |detail| %>
  <tr>
    <td><%= detail.text_field :product %></td>
    <td><%= detail.text_field :quantity %></td>
  </tr>
  <% end %>
</table>

<%= f.submit %>
<% end %>
